<!--
// vim: ft=javascript:
-->
<!DOCTYPE html>
<html>
<head><link rel="icon" href="data:,"></head>
<body>
  <style>
    .container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  </style>
  <div class="container"></div>
</body>
<script type="module">
import {PywrValidationModal} from "{{ url_for('pywr_upload.static', filename='js/PywrValidationModal.js') }}";
const pvmStyleUrl = "{{ url_for('pywr_upload.static', filename='css/PywrValidationModal.css') }}";

document.addEventListener("DOMContentLoaded", () => {
    const container = document.querySelector(".container");
    const vm = document.createElement("pywr-validation-modal");
    vm.setAttribute("styleUrl", pvmStyleUrl);
    container.append(vm);
});

</script>
</html>
